ion-content{
  --background: linear-gradient(#4269A0, #DCD5D5) ;
}
.container{
  margin-top: 1%;
  text-align: center;
  .Titulo{
    color: #C49308;
    font-size: 15px;
    margin-bottom: -20px;
  }
  h2{
    font-family: "Irish Grover";
    font-size: 15px;
    margin-bottom: -50px;
  }
}
  .title {
    font-family: 'Roboto', sans-serif;
  }
  
  .content {
    padding: 0;
  }
  
  .background {
    position: relative;
    height: 600px; /* Altura de la imagen de fondo */
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: auto;
    margin-top: 25%;
    object-fit: cover;
    filter: blur(2px);
  }
  
  .grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 32px;
  }
  
  .col {
    margin-bottom: 5px;
  }
  
  .input {
    text-align: center;
    background-color: #0E2038; /* Fondo semi-transparente */
    border-radius: 30px;
  }
  
  .content-buton{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-button {
    margin-top: 20px;
    position: relative;
    --background: #C49308;
    --border-radius: 70px;
    width: 250px;
    height: 60px;
    font-family: "Irish Grover";
    --color: #0E2038;
    font-size: 25px;
  }
  
  ion-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.5); /* Color de la sombra */
    filter: blur(10px); /* Aplicar filtro de desenfoque para suavizar la sombra */
    z-index: -1; /* Coloca la sombra detrás del botón */
  }
  
  .button-row {
    margin-top: 10px;
  }
  
  .register-row {
    margin-top: 5px;
  }
  
  .register {
    font-size: 14px;
    text-align: center;
    color: #0E2038;
  }
  
  .register-link {
    color: #FF6347; /* Color naranja */
    font-weight: bold;
  }
 .icon{
  text-align: center;
  justify-content: space-around;
  align-items: baseline;
  color: #4269A0;
  .content-redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
   
  }
  ion-icon{
    color: #0E2038;
  }
 }