@media (max-width: 1440px) {
  .ventas-table-wrapper {
    overflow-x: auto;
    width: 100%;
  }

  .ventas-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .ventas-table th,
  .ventas-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 8px;
  }

  .ventas-table tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
  }

  .action-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .action-cell ion-button {
    font-size: 16px;
    width: 32px;
    height: 32px;
    --padding-start: 6px;
    --padding-end: 6px;
  }

  .delete-button {
    color: red;
  }

  .edit-button {
    color: green;
  }
}

.main-content {
  position: relative;
  z-index: 1;
}

.ventas-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.ventas-table th,
.ventas-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.icon-button {
  font-size: 24px;
  width: 32px;
  height: 32px;
  --padding-start: 6px;
  --padding-end: 6px;
}
