<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu contentId="main-content" side="start" type="overlay">
    <!-- Contenido del menú -->
  </ion-menu>

  <div class="main-content">
    <ion-card *ngFor="let bebidas of productos" class="card-bebidas">
      <!-- Contenido de la tarjeta de producto -->
      <ion-card-header>
        <ion-card-title>${{bebidas.precio}}</ion-card-title>
        <ion-card-subtitle>{{bebidas.nombre}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{bebidas.descripcion}}
      </ion-card-content>
    
      <ion-button (click)="EliminarProducto(bebidas.id_producto)" class="action-button delete-button" fill="clear">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="EditarProducto(bebidas.id_producto)" class="action-button edit-button" fill="clear">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </div>

 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="tab-bar">
        <ion-tab-button tab="productos" class="tab-button">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="agregar" class="tab-button">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Agregar Producto</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="ventas" class="tab-button">
          <ion-icon name="pricetag-outline"></ion-icon>
          <ion-label>Ventas</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

