<ion-header [translucent]="true" class="header">
  <ion-toolbar class="toolbar">
    <ion-title class="title">¡Regístrate!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="background">
    <img src="assets/imagenes/michelada.jpg" alt="Michelada" class="background-image">
  </div>
  <ion-grid [fixed]="true" class="grid">
    <ion-row>
      <ion-col size="12" class="col">
        <ion-input type="text" fill="solid" placeholder="Nombre" [(ngModel)]="nombre" class="input"></ion-input>
      </ion-col>
      <ion-col size="12" class="col">
        <ion-input type="text" fill="solid" placeholder="Apellido" [(ngModel)]="apellido" class="input"></ion-input>
      </ion-col>
      <ion-col size="12" class="col">
        <ion-input type="text" fill="solid" placeholder="Correo electrónico" [(ngModel)]="email" class="input"></ion-input>
      </ion-col>
      <ion-col size="12" class="col">
        <ion-input type="password" fill="solid" placeholder="Contraseña" [(ngModel)]="password" class="input"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col size="12" class="col">
        <ion-button expand="block" color="success" (click)="AgregarUsuario();" class="button">¡Vamos a la fiesta!</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="login-row">
      <ion-col size="12" class="col">
        <p>¿Ya eres un invitado? <a (click)="login();" class="login-link">Ingresa aquí</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
