<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Administrar Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu contentId="main-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-item (click)="goToAbout()">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          <ion-label>Agregar Producto</ion-label>
        </ion-item>
        <ion-item (click)="Logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="main-content">
    <table class="productos-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventas">
          <td>{{ venta.id_detalle }}</td>
          <td>{{ venta.producto }}</td>
          <td>{{ venta.precio_unitario }}</td>
          <td>{{ venta.cantidad }}</td>
          <td class="action-cell"> 
            <ion-button (click)="EliminarProducto(venta.id_detalle)" class="icon-button delete-button">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="menuAdmin">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Menú</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="productos">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="agregar">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Agregar Producto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
