<ion-menu contentId="main-content" side="start" type="overlay" class="custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content">
    <ion-list lines="none">
      <ion-item (click)="goToAbout()" class="menu-item">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Acerca de</ion-label>
      </ion-item>
      <ion-item (click)="Logout()" class="menu-item">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bar Sinson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding main-content" id="main-content">
  <div class="welcome-text">
    <h2>Bienvenido a Bar Sinson</h2>
    <p>¡Aquí encontrarás las mejores micheladas y cócteles de la ciudad!</p>
    <p>Explora nuestro menú y descubre una amplia variedad de bebidas para disfrutar.</p>
  </div>

  <div class="drink-gallery">
    <ion-img src="./assets/imagenes/Margarita.jpeg" class="drink-image"></ion-img>
    <ion-img src="./assets/imagenes/Miche.jpeg" class="drink-image"></ion-img>
    <ion-img src="./assets/imagenes/mojito.webp" class="drink-image"></ion-img>
  </div>
  <ion-grid class="feature-section">
    <ion-row>
      <ion-col size="4">
        <ion-icon name="wine-outline" size="large"></ion-icon>
        <p>Visualiza nuestros productos</p>
      </ion-col>
      <ion-col size="4">
        <ion-icon name="cart-outline" size="large"></ion-icon>
        <p>Realiza Compras Fácilmente</p>
      </ion-col>
      <ion-col size="4">
        <ion-icon name="analytics-outline" size="large"></ion-icon>
        <p>Consulta tus pedidos</p>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>
